In [1]:
from bs4 import BeautifulSoup
import requests

response = requests.get("https://web.archive.org/web/20220727212229/https://www.colognepride.de/de/")
doc = BeautifulSoup(response.text)

In [17]:
rows = []

items = doc.find_all(class_='wpls-fix-box')
for item in items:
    row = {}
    row['sponsor'] = item.find('img')['alt']

    rows.append(row)
len(rows)

17

In [18]:
import pandas as pd

df = pd.json_normalize(rows)
df.head()

         sponsor
0  Moulin Rouge!
1       Oraquick
2            DHL
3      McDonalds
4        Spotify

In [19]:
df.to_csv('sponsors2022.csv', index=False)